@charset "utf-8";
/* CSS Document */

#transition img
{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
	height: auto;
	animation: fadein 4s;
	
	transition-property: transform;
    transition-duration: 1s;
}

#transition img:hover{
	animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}