@charset "utf-8";
/* CSS Document */

.percentage img{
	height: auto;
	width: 30%;
	float: left;
	padding: 20px;
	
}

.percentage p{
	font-size: 150%;
	font-family: aclonica;
	font-style: italic;
	float: right;
}

.vw img{
	height: auto;
	width: 40vw;
	float: left;
	padding: 20px;
	
}

.vw p{
	font-size:2vw;
	font-family: aclonica;
	font-style: italic;
	float: right;
}

@media only screen and (max-width: 1000px) {
	body {
		background-color: #E8E711;
  	}
	img{
		background-color: green;
	}
	
}