@charset "utf-8";
/* CSS Document */

p
{
	text-decoration-style: solid;
	font-size: 50px;
	color: red;
}

img{
	width: 20%;
	height: auto;
}
#image-container{
	
	right:-2000px;
	transition:right 1s;
	position: relative;
}

p:hover{
	color: blue;
	}

#text-container:hover ~ #image-container{
	
	right:-100px;
	
}

